body {
  font-size: 20px;
  font-family: "Lucida Console", serif;
  /* background-color: #92B879; */
}

img {
  float: right;
}

/* ---------------- View Switcher ---------------- */

.view {
  display: flex;
  border: 1px solid black;
  width: min-content;
  justify-content: space-between;
  border-radius: 4px;

  margin-left: 42%;
  margin-top: 1%;
  margin-bottom: 20px;
}

.viewItem {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
  text-align: center;
  padding: 5px 20px;
}

.viewItem + .viewItem {
  border-left: solid 1px black;
}

.viewItem:first-child {
  text-align: left;
}

.viewItem:first-child {
  text-align: right;
}

/* ---------------- Sections ----------------*/

.section {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */

  /* can make sections width adjustable based on max txt length */
  width: 45%;
  max-width: 45%;

  margin-left: 4%;
}

/* ---------------- Tickets ----------------*/

.section .ticketName {
  /* background-color: #F5CC76; */
  background-color: #60A8A0;
}

.section:first-of-type .ticketName {
  /* background-color: #A5BAFA; */
  background-color: #F53030;
}

.section:last-of-type .ticketName {
  /* background-color: #9BF59F; */
  background-color: #7BF52A;
}

.section h2 {
  text-decoration: underline;
}

.ticket {
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.ticketName {
  font-weight: bolder;
  font-size: 24px;

  border: 1px solid black;
  border-radius: 4px;
  margin-left: 5px;
  padding: 2px 20px 2px 20px;
  width: fit-content;
}

/* ---------------- Sub Tickets ---------------- */

.subTicket {
  margin-left: 5%;
  border: 1px solid white;
  color: rgb(91, 91, 91);
}

.pushBtn {
  float: right;
  margin-right: 2%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
}
